* { <
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    background-image: linear-gradient(to right, #fab38046, #ad5e26b9, #914409);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

form {

    display: flex;
    flex-direction: column;
}

label {

    margin-bottom: 10px;
}